[class^="icon-"], [class*=" icon-"] {
	font-family: 'unearth';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	
	/* Enable Ligatures ================ */
	-webkit-font-feature-settings: "liga";
	-moz-font-feature-settings: "liga=1";
	-moz-font-feature-settings: "liga";
	-ms-font-feature-settings: "liga" 1;
	-o-font-feature-settings: "liga";
	font-feature-settings: "liga";

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


@font-face {
    font-family: 'museo sans rounded';
    src:
        url('fonts/museo_sans_rounded_300-webfont.woff') format('woff'),
        url('fonts/museo_sans_rounded_300-webfont.woff2') format('woff2'),
        url('fonts/museo_sans_rounded_300-webfont.ttf') format('truetype'),
        url('fonts/museo_sans_rounded_300-webfont.svg#webfont') format('svg');
    font-weight: 300;
}

@font-face {
    font-family: 'museo sans rounded';
    src:
        url('fonts/museo_sans_rounded_500-webfont.woff') format('woff'),
        url('fonts/museo_sans_rounded_500-webfont.woff2') format('woff2'),
        url('fonts/museo_sans_rounded_500-webfont.ttf') format('truetype'),
        url('fonts/museo_sans_rounded_500-webfont.svg#webfont') format('svg');
    font-weight: 500;
}

@font-face {
    font-family: 'museo sans rounded';
    src:
        url('fonts/museo_sans_rounded_700-webfont.woff') format('woff'),
        url('fonts/museo_sans_rounded_700-webfont.woff2') format('woff2'),
        url('fonts/museo_sans_rounded_700-webfont.ttf') format('truetype'),
        url('fonts/museo_sans_rounded_700-webfont.svg#webfont') format('svg');
    font-weight: 700;
}

@font-face {
    font-family: 'museo sans rounded';
    src:
        url('fonts/museo_sans_rounded_900-webfont.woff') format('woff'),
        url('fonts/museo_sans_rounded_900-webfont.woff2') format('woff2'),
        url('fonts/museo_sans_rounded_900-webfont.ttf') format('truetype'),
        url('fonts/museo_sans_rounded_900-webfont.svg#webfont') format('svg');
    font-weight: 900;
}

@font-face {
    font-family: 'unearth';
    src: url('fonts/unearth_2_0.svg');
    src:
        url('fonts/unearth_2_0.svg#webfont') format('svg'),
        url('fonts/unearth_2_0.woff') format('woff'),
        url('fonts/unearth_2_0.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: LubalinGraphStd-Demi;
    src: url('fonts/LubalinGraphStd-Demi.eot');
    src:
        url('fonts/LubalinGraphStd-Demi.eot?#iefix') format('embedded-opentype'),
        url('fonts/LubalinGraphStd-Demi.woff') format('woff'),
        url('fonts/LubalinGraphStd-Demi.woff2') format('woff2'),
        url('fonts/LubalinGraphStd-Demi.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: LubalinGraphStd-Book;
    src: url('fonts/LubalinGraphStd-Book.eot');
    src:
        url('fonts/LubalinGraphStd-Book.eot?#iefix') format('embedded-opentype'),
        url('fonts/LubalinGraphStd-Book.woff') format('woff'),
        url('fonts/LubalinGraphStd-Book.woff2') format('woff2'),
        url('fonts/LubalinGraphStd-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
