[class^="icon-"], [class*=" icon-"] {
	font-family: 'Linearicons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	
	/* Enable Ligatures ================ */
	-webkit-font-feature-settings: "liga";
	-moz-font-feature-settings: "liga=1";
	-moz-font-feature-settings: "liga";
	-ms-font-feature-settings: "liga" 1;
	-o-font-feature-settings: "liga";
	font-feature-settings: "liga";

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot');
	src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.woff') format('woff'),
		url('../fonts/icomoon.ttf') format('truetype'),
		url('../fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Linearicons';
	src: url('../fonts/Linearicons.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'museo sans rounded';
    src:
        url('../fonts/museo_sans_rounded_300-webfont.woff') format('woff'),
        url('../fonts/museo_sans_rounded_300-webfont.woff2') format('woff2'),
        url('../fonts/museo_sans_rounded_300-webfont.ttf') format('truetype'),
        url('../fonts/museo_sans_rounded_300-webfont.svg#webfont') format('svg');
    font-weight: 300;
}

@font-face {
    font-family: 'museo sans rounded';
    src:
        url('../fonts/museo_sans_rounded_500-webfont.woff') format('woff'),
        url('../fonts/museo_sans_rounded_500-webfont.woff2') format('woff2'),
        url('../fonts/museo_sans_rounded_500-webfont.ttf') format('truetype'),
        url('../fonts/museo_sans_rounded_500-webfont.svg#webfont') format('svg');
    font-weight: 500;
}

@font-face {
    font-family: 'museo sans rounded';
    src:
        url('../fonts/museo_sans_rounded_700-webfont.woff') format('woff'),
        url('../fonts/museo_sans_rounded_700-webfont.woff2') format('woff2'),
        url('../fonts/museo_sans_rounded_700-webfont.ttf') format('truetype'),
        url('../fonts/museo_sans_rounded_700-webfont.svg#webfont') format('svg');
    font-weight: 700;
}

@font-face {
    font-family: 'museo sans rounded';
    src:
        url('../fonts/museo_sans_rounded_900-webfont.woff') format('woff'),
        url('../fonts/museo_sans_rounded_900-webfont.woff2') format('woff2'),
        url('../fonts/museo_sans_rounded_900-webfont.ttf') format('truetype'),
        url('../fonts/museo_sans_rounded_900-webfont.svg#webfont') format('svg');
    font-weight: 900;
}

@font-face {
    font-family: 'unearth';
    src: url('../fonts/unearth_1.3.6.1.svg');
    src:
        url('../fonts/unearth_1.3.6.1.svg#webfont') format('svg'),
        url('../fonts/unearth_1.3.6.1.woff') format('woff'),
        url('../fonts/unearth_1.3.6.1.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: LubalinGraphStd-Demi;
    src: url('../fonts/LubalinGraphStd-Demi.eot');
    src:
        url('../fonts/LubalinGraphStd-Demi.eot?#iefix') format('embedded-opentype'),
        url('../fonts/LubalinGraphStd-Demi.woff') format('woff'),
        url('../fonts/LubalinGraphStd-Demi.woff2') format('woff2'),
        url('../fonts/LubalinGraphStd-Demi.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: LubalinGraphStd-Book;
    src: url('../fonts/LubalinGraphStd-Book.eot');
    src:
        url('../fonts/LubalinGraphStd-Book.eot?#iefix') format('embedded-opentype'),
        url('../fonts/LubalinGraphStd-Book.woff') format('woff'),
        url('../fonts/LubalinGraphStd-Book.woff2') format('woff2'),
        url('../fonts/LubalinGraphStd-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body, html { font-size: 100%; 	padding: 0; margin: 0;}

/* Reset */
*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

/* basic styles */

body {
	color: #576573;
	background: #E2E5E8;
	min-height: 100vh;
	font-family: 'museo sans rounded';
}

a {
	color: #576573;
	text-decoration: none;
}

a:hover {
	color: #7c8e9d;
}

i {

}

header {
	width: 100%;
	height: 64px;
	background-color: #FAFCFF;
	box-shadow: 0 4px 18px rgba(0,0,0,0.025);
	text-align: center;
}

.unearth-logo {
	font-family: 'unearth';
	font-size: 36px;
    display: inline-block;
    position: absolute;
    top: 14px;
    left: 12px;
}

.title {
	display: inline-block;
	margin-top: 20px;
	font-size: 16px;
}

.user {
	font-family: 'unearth';
	font-size: 14px;
	display: inline-block;
	position: absolute;
	top: 12px;
    right: 12px;
    border: 2px solid #fff;
    background-color: #eee;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0 4px 18px rgba(0,0,0,0.05);
    box-sizing: border-box;
    text-align: center;
}

.user::after {
	content: "\e963";
	font-family: 'unearth';
	font-size: 16px;
	position: relative;
	top: 10px;
}

/* icons and labels*/

.tool-icon {
	display: inline-block;
	width: 26px;
	height: 26px;
	border-radius: 50%;
}

.tool-ss .tool-icon {
	background-color: #07B050;	
}

.tool-sd .tool-icon {
	background-color: #02B0F0;	
}

.tool-parcel .tool-icon {
	background-color: #999;	
}

.tool-text-shapes .tool-icon {
	background-color: #999;	
}

.tool-capture .tool-icon {
	background-color: #999;	
}

.tool-measure .tool-icon {
	background-color: #999;	
}

.tool-label {
	display: block;
	margin-top: 4px;
}


/* menus */

.util-menu-wrapper {
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	-webkit-perspective: 1000px;
	perspective: 1000px;
	-webkit-perspective-origin: 50% 200%;
	perspective-origin: 50% 200%;
}

.util-menu-wrapper ul {
	padding: 0;
	margin: 0;
	list-style: none;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	width: 100%;
    overflow: auto;
    white-space: nowrap;
}

.util-menu {
	background-color: #303840;
	color: #fafcff;
	height: 64px;
}

.util-menu li {
	margin: 0 6px;
	text-align: center;
	height: 64px;
}

.util-menu li a {
	display: inline-block;
	position: relative;
	padding: 10px 12px;
	font-size: 11px;
	line-height: 1;
	font-weight: 500;
	outline: none;
	text-align: left;
	height: 44px;
	width: 120px;
	border-radius: 40px;
	top: 10px;
	opacity: 1;
}

.util-menu i {
	display: inline-block;
	color: #fafcff;
	width: 24px;
	height: 24px;
	position: relative;
	margin: 0 6px;
	top: -1px;
}

.ss-tab .tab-icon:before {
	content: '\e63d';
	font-family: 'Linearicons';
	display: inline-block;
	font-size: 24px;
}

.sd-tab .tab-icon:before {
	content: '\e641';
	font-family: 'Linearicons';
	display: inline-block;
	font-size: 24px;
}

.parcel-tab .tab-icon:before {
	content: '\e600';
	font-family: 'Linearicons';
	display: inline-block;
	font-size: 24px;
	position: relative;
	top: -1px;
}

.text-shapes-tab .tab-icon:before {
	content: '\e9a2';
	font-family: 'Linearicons';
	display: inline-block;
	font-size: 24px;
}

.capture-tab .tab-icon:before {
	content: '\e922';
	font-family: 'unearth';
	display: inline-block;
	font-size: 20px;
	top: 2px;
	position: relative;
}

.measure-tab .tab-icon:before {
	content: '\e97a';
	font-family: 'Linearicons';
	display: inline-block;
	font-size: 24px;
}

.tab-label {
	display: inline-block;
	white-space: normal;
	color: #fafcff;
	transition: all 0.2s;
	opacity: 1;
	font-size: 13px;
}

.ss-tab a {
	background-color: #07B050;
}

.sd-tab a {
	background-color: #02B0F0;
}

.parcel-tab a {
	background-color: #109494;
}

.text-shapes-tab a {
	background-color: #7c8e9d;
}

.capture-tab a {
	background-color: #029ac0;
}

.measure-tab a {
	background-color: #f2bf66;
}

.capture-tab {
	top: -4px;
}

.capture-tab .tab-label,
.measure-tab .tab-label {
	position: relative;
	top: -4px;
}

.util-submenu {
	color: #576573;
	box-sizing: border-box;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 64px;
}

.submenu-bg {
	background-color: #f0f2f5;
	color: #576573;
	border-top: 1px solid #e2e5e8;
	box-sizing: border-box;
	position: absolute;
	top: -64px;
	transform: translateY(64px);
	opacity: 0;
	transition: all 0.2s;
	width: 100%;
	height: 64px;
	transition-delay: 0.2s;
}

.util-submenu ul {
	position: absolute;
	top: -64px;
	transform: translateX(100%);
	opacity: 0;
	transition: all 0.2s;
	width: 100%;
	height: 64px;	
}

.util-menu-wrapper li {
	position: relative;
	display: inline-block;
}

.util-submenu li a {
	display: block;
	position: relative;
	padding: 12px 2px 0;
	box-sizing: border-box;
	font-size: 11px;
	line-height: 1;
	font-weight: 500;
	outline: none;
	text-align: center;
	height: 64px;
	width: 70px;
}

.show-ss-tools .util-submenu.tool-ss .submenu-bg {
	transform: translateY(0);
	opacity: 1;
	transition: all 0.2s;
}

.show-ss-tools .util-submenu.tool-ss ul {
	transform: translateX(0);
	opacity: 1;
	transition: all 0.2s;
	transition-delay: 0.2s;
}

.show-ss-tools .util-menu li:not(.ss-tab) a {
	width: 60px;
	transition: all 0.2s;
	opacity: 0.5;
}

.show-ss-tools .util-menu li:not(.ss-tab) a .tab-label {
	transition: all 0.2s;
	opacity: 0;
}

.show-sd-tools .util-submenu.tool-sd .submenu-bg {
	transform: translateY(0);
	opacity: 1;
	transition: all 0.2s;
}

.show-sd-tools .util-submenu.tool-sd ul {
	transform: translateX(0);
	opacity: 1;
	transition: all 0.2s;
	transition-delay: 0.2s;
}

.show-sd-tools .util-menu li:not(.sd-tab) a {
	width: 60px;
	transition: all 0.2s;
	opacity: 0.5;
}

.show-sd-tools .util-menu li:not(.sd-tab) a .tab-label {
	transition: all 0.2s;
	opacity: 0;
}